* {
    box-sizing: border-box;
    
}
body {
    background-color: khaki;
}
h1, h2, h3 {
    text-align: center;
    font-style: italic;
    text-decoration: underline;
}

h1 {
    color: red;
}
p {
    font-size:larger;
}
nav {
    position: absolute;
    left: 600px;
    bottom: 20px;
}

.example {
    position: relative;
    background-color:aqua;
    height: 300px;
    
}